* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    343deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(56, 107, 79, 1) 0%,
    rgba(140, 218, 131, 1) 100%
  );
  background: -webkit-linear-gradient(
    343deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(56, 107, 79, 1) 0%,
    rgba(140, 218, 131, 1) 100%
  );
  background: linear-gradient(
    343deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(56, 107, 79, 1) 0%,
    rgba(140, 218, 131, 1) 100%
  );
  background-repeat: no-repeat;
  font-family: monospace;
  font-size: 1em;
}

button {
  font-size: 1em !important;
}

header {
  background: whitesmoke;
  padding: 20px;
  text-align: center;
}

th,
td {
  text-align: center;
}

#canvas {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

#container {
  padding: 20px;
}

.dollar-sign {
  color: green;
}

.result {
  color: purple;
}

.percentage-sign {
  color: purple;
}

.hidden {
  display: none;
}

.error {
  color: #e72a34;
  font-style: italic;
  margin: auto;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  table {
    max-width: 60vw;
    width: 60vw;
  }
  body,
  .percentage-sign,
  .dollar-sign {
    font-size: 1.25em;
  }
}
